@import "tailwindcss";

body {
	color: white;
	font-family: "DM Sans", serif;
	background: #151515;
}

p > a {
	color: #9090ff;
}

p > a:hover {
	color: #7777ee;
}

li {
    list-style-type: disc;
    margin-left: 25px;
}

ul li li {
    list-style-type: circle;
}